* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 700px;
}

.content-column {
  flex-grow: 1;
}

.block-1 {
  color: #ffffff;
  width: 600px;
  margin: auto;
  background-color: #11a704;
}

.block-2 {
  color: #ffffff;
  background-color: #1901f3;
  margin-top: 30px;
  border: 50px solid #1901f3;
}