* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.5em
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar {
  width: 200px;
  background-color: red;
  color: white;
  padding: 20px;
  margin-right: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: underline;
}

.sidebar ul li a:hover {
  background-color: green;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.content p::first-letter {
  color: red;
  font-size: 1.5em
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}